.logo-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: calc(300px / 1.5);
  height: calc(145px / 1.5);
}
